.contact-paragraph {
  margin: 1.7rem 0;
  padding: 0;
  width: 100%;
}

.contact-left img {
  min-width: 80%;
  max-height: 45rem;
  object-fit: cover;
}
.contact-section {
  margin: 7rem 0;
}

.contact-input {
  margin-bottom: 3rem;
}

.form-control {
  font-size: 1.7rem;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  padding: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid var(--primary-color);
}

.contact-text {
  min-height: 15rem !important;
}

.form-check-input {
  width: 2rem;
  height: 2rem;
  box-shadow: none !important;
  border-color: var(--primary-color) !important;
}

.form-check-input:checked {
  box-shadow: none !important;
  background-color: var(--primary-color);
}

.checkbox-style {
  margin: 3rem 0;
}

label {
  font-size: 1.4rem;
  padding: 0.2rem 0 0 1rem;
}

@media (max-width: 968px) {
  .contact-left {
    text-align: center;
  }
  .contact-left figure {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  label {
    position: absolute;
  }
  .contact-btn {
    margin-top: 3rem;
  }
}
